@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body.sida1 {
    background-image: url(./bilder/seamless3.jpg);
}
body.sida2{
    background-image: url("./bilder/seamless2.0.jpg");
}
body.sida3{
    background-image: url("./bilder/seamless3.jpg");
}
body.sida4{
    background-image: url("./bilder/seamless4.jpg");
}
body.sida5{
    background-image: url("./bilder/seamless5.jpeg");
}
body.sida6{
    background-image: url("./bilder/seamless6.jpeg");
}
div {
    background-color: white;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    border: 5px dashed #555;
}
h1 {
    margin-left: 90px;
    font-family: "Arvo", serif;
}
p {
    margin: auto;
    margin-left: 90px;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;

}
a {
    font-size: 40px;
    text-decoration: none;
    color: darkred;
}

