html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(./bilder/joanna-kosinska-eVQBXxeCre4-unsplash\ \(1\).jpg);
    background-attachment: fixed;
}

.sidan
{
    background-color: #dda15e;
    width: 700px;
    padding-top: 20px;
    margin: auto;
    border-radius: 10px;
    border-style: solid;
    border-color: #606c38;
    border-width: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}
.inlägg
{
    background-color: #283618;
    color: white;
    width: 520px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: #bc6c25;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
h1{
    background-color: #283618;
    color: white;
    width: 520px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-style: solid;
    border-radius: 10px;
    border-color: #bc6c25;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
h2{

}
h3{

}
.datum
{

}
p{
    padding-top: 10px;
}

img
{
    width: 300px;
    border-style: solid;
    border-color: #bc6c25;
    border-radius: 5px;
}
