/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

body 
{

}

.kontainer 
{
    text-align: center;
    background-image: url(./bilder/background\ image.jpg);
}

.meny 
{
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.meny a 
{
    margin: 10px;
    color: white;
}
.meny img
{
    width: 250px;
}


.sida 
{
    text-align: center;
    background-color: white;
    margin-right: 30px;
    margin-left: 30px;
    
}
.sida h1
{
    text-align: center;
    font-size: 50px;
}

.sida p 
{
    width: 600px;
    margin: auto;
}

.sida p .produkt
{

}








.rutor 
{
    display: flex;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.rutor img
{
    width: 250px;
    margin: 15px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.produkt 
{

}


